.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.person{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin;
    height: 120vmin;
    background-color: #eee;
   
    --skin: #fca;
    --iris: #68a;
    --hair: rgb(225,207,144);
    --shirt: #B8BC86;
    --line: rgba(80,0,0,0.15);

}

.person div{
    position: absolute;
    box-sizing: border-box;
}
.face{
    width: 50%;
    height: 45%;
    background: var(--skin);
    border-radius: 100% 100% / 80% 80% 120% 120%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.neck{
    height: 20%;
    width: 25%;
    background: var(--skin);
    top:50%;
    left:38%;
    border-radius: 5vmin;
    box-shadow: inset 0 25.5vmin 0 -15vmin var(--line), inset 0 -3vmin 0 -1vmin rgba(0,0,0,0.2), inset 0 -3vmin 0 -1vmin var(--shirt);;
}
.mouth {
    width: 40%;
    height: 5%;
    border: 0.5vmin solid rgba(0,0,0,0.2);
    border-top-color: transparent;
    border-radius: 100% / 100% 100% 40% 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0) rotate(1deg);
  }

.nose {
    width: 16%;
    height: 35%;
    background: rgba(80,0,0,0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    clip-path: polygon(50% 10%, 60% 88%, 0% 85%, 55% 100%, 100% 88%);
}
.ear{
    width: 5%;
    height: 16%;
    border-radius: 90% 100% 70% 100% / 70% 100%;
    background: var(--skin);
    box-shadow: inset -8vmin 0 0 -7vmin rgba(80,0,0,0.125);
    top:28%;
    left: 22%;
    transform: rotate(-8deg)
}
.ear + .ear{
    transform: scaleX(-1) rotate(-10deg);
    left:auto;
    right: 22%;
}
.eye{
    width:30%;
    height: 14%;
    background-color: white;
    border-radius: 80% 90% 30% 40% / 70% 100% 90% 100%;
    top: 37%;
    right: 12%;
    box-shadow: 0 -0.6vmin rgba(80,0,0,0.2);
    overflow: hidden;
}
.eye + .eye{
    transform: scaleX(-1);
    right:auto;
    left: 12%;
}
  .pupil{
    width: 25%;
    height: 50%;
    background-color: black;
    border-radius: 50%;
    top:30%;
    left:35%;
    box-shadow: 0 0 0 2.5vmin var(--iris);
  }
.cheek{
    width:80%;
    height: 10%;
    background: #f002;
    border-radius: 20% 20% 100% 100%;
    top: 52%;
    left: 10%;
    filter: blur(1vmin)
  }
.eyebrow{
    width:35%;
    height:10%;
    top:35%;
    right:9%;
    border-radius: 80% 90% 30% 40% / 70% 100% 90% 100%;
    box-shadow: 0 -1.5vmin 0 -0.25vmin rgba(80,0,0,0.2);
    transform: rotate(4deg);
  }
.eyebrow + .eyebrow{
    transform: scaleX(-1);
    right:auto;
    left: 9%;
    transform: rotate(-10deg);
  }
.hair-top{
    width: 25%;
    height:10%;
    background: var(--hair);
    border-radius: 50%;
    top: 12.5%;
    left: 37%;
    filter: blur(0.3vmin)
  }

.hair-sides{  
    width: 50%;
    height: 45%;
    background-color: transparent;
    border-radius: 100% 100% / 80% 80% 120% 120%;
    top: 11%;
    right: 25%;
    box-shadow: inset 0px 50px 0px 0px var(--hair);
    filter: blur(0.3vmin)
  }
.shirt-neck{
    width: 15%;
    height: 8%;
    background: var(--shirt);
    box-shadow: inset 0 0 0 5vmin rgba(0,0,0,0.1);
    top:62%;
    left: 33%;
    transform: skew(10deg) rotate(12deg);
}
.shirt-neck + .shirt-neck{
    transform: scaleX(-1) skew(10deg) rotate(12deg);
    left:auto;
    right: 33%;
}
.shoulders{
    width:100%;
    height: 36%;
    background: var(--shirt);
    top: 60%;
    clip-path: polygon(0% 40%, 40% 10%, 40% 0%, 60% 0%, 60% 10%, 100% 40%, 100% 100%, 0% 100%);
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 65%;
    margin-left: -60px;
    
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
.medal{
    width: 7%;
    height:10%;
    
}
.rectangle{
    width: 100%;
    height: 80%;
}
.triangle{
    width: 100%; 
    height: 100%; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top:  20px solid gold;
    top: 90%;
}
.circle{
    width:100%;
    height:100%;
    background: gold;
    border-radius: 50%;
    top: 110%;
    box-shadow: inset 0 0 0 1vmin rgba(145, 115, 115, 0.5); ;
}
.medal1{
    top:50%;
    left: 5%;
    background-color: #5db9ee;
}
.medal2{
    top:50%;
    left: 15%;
    background-color: #770707;
}
.medal3{
    top:50%;
    left: 25%;
    background-color: #4f500d;
}
.medal4{
    top:50%;
    left: 35%;
    background-color: #e712dd;
}
.medal5{
    top:50%;
    left: 45%;
    background-color: #8b888b;
}
.medal6{
    top:50%;
    left: 55%;
    background-color: #8b888b;
}